@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800";
@import "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css";
@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css";
@import "https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css";
@import "_partials/animista";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: #046380;
  border-width: 3px;
  max-width: 50px;
  &.light {
    border-color: white;
  }
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #046380;
  &:hover, &:focus {
    color: #023d4f;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #046380;
}

.bg-dark {
  background-color: #222222;
  color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  .navbar-header {
    .navbar-brand {
      color: #046380;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      &:hover, &:focus {
        color: #023d4f;
      }
    }
    .navbar-toggle {
      font-weight: 700;
      font-size: 12px;
      color: #222222;
      text-transform: uppercase;
    }
  }
  .nav > li {
    > a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: #222222;
      &:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #222222;
      }
      &:hover, &:focus:hover {
        color: #046380;
      }
    }
    &.active > a {
      color: #046380 !important;
      background-color: transparent;
      &:focus {
        color: #046380 !important;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.affix {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.05);
      .navbar-header .navbar-brand {
        color: #046380;
        font-size: 14px;
        &:hover, &:focus {
          color: #023d4f;
        }
      }
      .nav > li > a {
        color: #222222;
        &:focus {
          color: #222222;
        }
        &:hover, &:focus:hover {
          color: #046380;
        }
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/computer.jpg');
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  p {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(4, 99, 128, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-category, .project-name {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        padding: 0 15px;
      }
      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover .portfolio-box-caption {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    .project-category {
      font-size: 16px;
    }
    .project-name {
      font-size: 22px;
    }
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #046380;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
  }
}

.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.btn-default {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default {
  &.disabled, &[disabled] {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default.focus {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default:active {
  background-color: white;
  border-color: white;
}

.btn-default {
  &.disabled.active, &[disabled].active {
    background-color: white;
    border-color: white;
  }
}

fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}

.btn-default .badge {
  color: white;
  background-color: #222222;
}

.btn-primary {
  color: white;
  background-color: #046380;
  border-color: #046380;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: white;
    background-color: #035067;
    border-color: #03485d;
  }
}

.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #035067;
  border-color: #03485d;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary.focus {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    background-color: #046380;
    border-color: #046380;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: #046380;
  border-color: #046380;
}

.btn-primary .badge {
  color: #046380;
  background-color: white;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #222222;
}

.my-skills > div {
  text-align: center;
  height: 156px;
}

.devicon {
  font-size: 50px;
  transition: font-size 0.5s;
  + h3 {
    margin: 15px 0px;
  }
}

.technology-used {
  margin: 0px auto;
  width: 70%;
  .hard-skills {
    padding: 0px 5px;
  }
}

#alert-message {
  margin-top: 2em;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@import "_partials/custom-slick-slider";