<% if(theme.github){ %>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Want Coding Samples?</h2>
            <a href="<%= theme.github %>" target="_blank" class="btn btn-default btn-xl sr-button">Github &nbsp;<i class="fa fa-github-square fa-2x sr-contact"></i></a>
        </div>
    </div>
</aside>

	
<% } %>