<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Hello</h1>
            <br/>
            <p>I am a <strong>Full Stack Developer</strong> based in NYC.
                <br/>I focus on writing <strong>clean</strong> and <strong>efficient code</strong>.
                <br/>Let's <strong>create</strong> something <strong>amazing!</strong></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>