<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="my-skills">
                <% theme.skills.map((skill)=>{ %>
                    <div> 
                        <i class="devicon devicon-<%= skill.toLowerCase() %>-plain colored"></i>
                        <h3><%= skill %></h3>
                    </div>
                <%}) %>
            </div>
        </div>
    </div>
</section>